<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, идентификатор которого был передан в url -->
{% block content %}
<!--{{ post_info }}-->
{% if  post.post_type == 'N'%}
   <h1>Новость</h1>
   Корреспондент: {{ post.post_author.author_user }}
{% else %}
   <h1>Статья</h1>
   Автор: {{ post.post_author.author_user }}
{% endif %}
<br>
Дата: {{ post.post_date|date:"d M Y" }}

<br>
Рейтинг: {{ post.post_rating }}
<br>
{{ post.post_text }}
{% endblock content %}