<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load cache %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
<!--   {# Добавим кнопку отправки данных формы #}-->
<!--   {% if not us %}-->
<!--       <a href="{% url 'signup' %}">-->
<!--           <input type="submit" value="Создать" />-->
<!--       </a>-->
<!--   {% endif %}-->
    <br>
    {% cache 30 header %}
        <button class ="button"><a href = "../news/client_subscriber/">Подписаться на новости</a></button>
    {% endcache %}
    <br>
    <br>

    <h1><span style = "color: blue"> Новости для Вас </span></h1>
    <span style = "color: red"> Всего новостей/статей: {{ news|length }} ------ Текущая дата: {% current_time '%b %d %Y %A' %}</span>
    <!-- Если в переменной next_sale будет None,
    то выведется указанный в фильтре текст -->
    <h5><span style = "color: magenta"> {{ next_action|default_if_none:"Чуть позже сообщим о новой акции!" }} </span></h5>
    <br>

    {% if news %}
       {% for serv in object_list %}
            <!-- Выводим заголовок-->
            <tr><td><h3><a href="../news/{{serv.id}}">{{ serv.post_title|censor }}</a></h3></td></tr>
            <!-- Выводим автора -->
            <!--<td><h4>{{ serv.post_author.author_user }}</h4></td>-->
            <!-- Выводим дату публикации -->
            <tr><td><h5>Дата публикации: {{ serv.post_date|date:"d.m.Y" }}</h5></td></tr>
            <!-- Выводим 20 символов текста статьи -->
            <tr><td>{{ serv.preview|censor|truncatewords:20 }}</td></tr>
            <br><br>
       {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}

           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

